.entrainement-card-header-seuil{
    color: orange;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.entrainement-card-header-endurance{
    color: #49b6d5;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.entrainement-card-header-vma{
    color: #e74c3c;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.entrainement-card-header-long-run{
    color: #2ecc71;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.organisateur-name-entrainement{
    text-decoration: underline;
}



.map-container {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    font-weight: 400;
}

.mapboxgl-ctrl-attrib-inner {
    display: none;
}

.card-map-container{
    width: 600px;


}

.entrainement-card-wrap{

    width: 90%;
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    position: relative;
    z-index: 3;
}

.entrainement-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.entrainement-card-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-depart-adresse{
    margin-top: 10px;
    text-align: center;
}

.card-text-span{
    font-weight: 400;
    text-decoration: none;
    font-size: 1.3rem;
}

.card-participants-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1rem;
    margin-top: 10px;
    width: 40%;
    position: relative;
}

.organisateur-pic-entrainement{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.organisateur-info-entrainement{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.organisateur-info-square{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
    padding: 10px;
    justify-content: space-evenly;
}

.participants-entrainement-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.participants-entrainement-square{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
    padding: 10px;
    max-width: 300px;
    justify-content: space-evenly;
}

.participants-list-span{
    display: flex;
    gap: 10px;
    overflow: scroll;
    padding: 10px 0;

}

.join-entrainement-btn{
    width: 400px;
    position: absolute;
    bottom: 0;

}



.entrainement-card-desc{
    overflow: scroll;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 100%;

}

.favorite-icon-div{
    position: absolute;
    top: -58px;
    background: white;
    margin: 10px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    z-index: -1;
    border-radius: 25px 25px 0 0;
    box-shadow: 0px -5px 5px 0 rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-card-container{
    margin: 80px 0;
}

.comment-profile-picture{
    width: 50px;
    height: 50px;
    background-size: contain;
    border-radius: 50%;
}

.commentaire-container{
    display: flex;
    justify-content: space-between;
   
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    align-items: center;
}

.comment-author-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.profile-info-content-wrap{
    display: flex;
    align-items: center;
    gap: 40px;
}

.comment-author-pseudo{
 
    font-size: 0.9rem;
}

.comment-content{
    background-color: var(--main-yellow);
    padding: 10px;
}
    
    .comment-general-info {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .comment-date{
        font-size: 0.9rem;
        font-weight: 400;
        
    }

    .comment-likes-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comments-icon-div{
        position: absolute;
        bottom: -58px;
        background: white;
        margin: 10px;
        height: 50px;
        width: 100px;
        right: 50px;
        cursor: pointer;
        z-index: -1;
        border-radius: 0 0 25px 25px ;
        box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .comments-container{
        margin-top: 20px;
        border: solid 1px #ccc;
        width: 90%;
        padding: 20px;
        border-radius: 10px;
       
        
    }


    .comment-list-wrap{
        max-height: 400px;
        overflow:scroll;
        width: 100%;
        border-radius: 10px;
        margin-right: 80px;
        position: relative;
        
    
    }

    .comment-input-wrap{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 40px;
        border-radius: 10px;
        box-shadow:0px 0px 5px 0 rgba(0,0,0,0.2);
        
        margin: 20px 200px 0 200px;
    }



    .comments-items{
        position: relative;
        margin-right: 130px;
        width: 100%;
        
    }

    .commentaire-content{
        width: 100%;
    }
    .comment-input{
        width: 500px;
        height: 40px;
        padding-left: 10px;
        font-size: 1.1rem;
        border-radius: 5px;
        border: solid 1px #ccc ;
    }

    .button-comment-input{
        width: 150px;
        height: 40px;
        background: transparent;
        z-index: 3;
        border: none;
        border-radius: 5px;
        font-size: 1.1rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid #ccc;
        
    }

    .button-comment-input::before{
        position: absolute;
        content: '';
        height: 100%;
        width: 0;
        top: 0;
        left: 0;
        background-color: var(--main-yellow);
        z-index: -1;
        transition: .5s ease-in-out;
    

    }

    .button-comment-input:hover::before{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--main-yellow);
        z-index: -1;
      
    

    }

    .happenedTraining{
        background: #ededed;
    }

    .entrainement-happened-text{
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: 50px;
        margin-top: 80px;
       text-decoration:wavy;
        

    }

    .best-training-text{
        position: absolute;
        top: -40px;
        font-size: 1.4rem;
        left: 150px;
    }

    .best-training-text::after{
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 2px;
        background: black;
        margin-top: 10px;
        animation: widthAnimation 1s ease-in-out infinite alternate;

        
    }

    @keyframes widthAnimation{
        0%{
            width: 20%;
        }
        100%{
            width: 100%;
        }
    }
  