.entrainement-card-header-seuil{
    color: orange;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.entrainement-card-header-endurance{
    color: #49b6d5;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.entrainement-card-header-vma{
    color: #e74c3c;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.entrainement-card-header-long-run{
    color: #2ecc71;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.organisateur-name-entrainement{
    text-decoration: underline;
}



.map-container {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    font-weight: 400;
}

.mapboxgl-ctrl-attrib-inner {
    display: none;
}

.card-map-container{
    width: 600px;


}

.entrainement-card-wrap{

    width: 90%;
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    position: relative;
    z-index: 3;
}

.entrainement-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.entrainement-card-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-depart-adresse{
    margin-top: 10px;
    text-align: center;
}

.card-text-span{
    font-weight: 400;
    text-decoration: none;
    font-size: 1.3rem;
}

.card-participants-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1rem;
    margin-top: 10px;
    width: 40%;
    position: relative;
}

.organisateur-pic-entrainement{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.organisateur-info-entrainement{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.organisateur-info-square{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
    padding: 10px;
    justify-content: space-evenly;
}

.participants-entrainement-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.participants-entrainement-square{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
    padding: 10px;
    max-width: 300px;
    justify-content: space-evenly;
}

.participants-list-span{
    display: flex;
    gap: 10px;
    overflow: scroll;
    padding: 10px 0;

}

.join-entrainement-btn{
    width: 400px;
    position: absolute;
    bottom: 0;

}



.entrainement-card-desc{
    overflow: scroll;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 100%;

}

.favorite-icon-div{
    position: absolute;
    top: -58px;
    background: white;
    margin: 10px;
    height: 50px;
    width: 100px;


    cursor: pointer;
    z-index: -1;
    border-radius: 25px 25px 0 0;
    box-shadow: 0px -5px 5px 0 rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-card-container{
    margin: 80px 0;
}