.creation-entrainement-wrapper{
    padding: 40px;
    position: fixed;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(134, 134, 134, 0.75);
    top: 15%;
    left: 50%;
    transform: translateX(-30%);
    width: 800px;
    max-height: 700px;
    overflow-y: scroll;
    z-index: 10;

}

.item-creation-entrainement{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.crea-entrainement-label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.crea-entrainement-input{
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    height: 30px;
}

.item-creation-entrainement-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.checkbox-item-crea-entrainement{
    margin-top: 20px;
    margin-right: 50px;
    display: flex;


}

.crea-entrainement-input-checkbox{
    margin-right: 10px;
    width: 20px;
    vertical-align: middle;
    margin-bottom: 12px;
}

#descriptionEntrainement{
    height: 100px;
    resize: none;
}

.crea-entrainement-alert{
    color: red;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.alert-crea-entrainement{
    color: red;
    margin-top: 5px;
}