
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;700;800;900&display=swap');


:root{
    --main-yellow:#C4FF61;
}

*{
    margin: 0;
    padding: 0;
    font-family: Epilogue;
}

.yellow{
    color: var(--main-yellow);
}

.link-btn{
    text-decoration: none;
    color: black;
    background-color: var(--main-yellow);
    padding: 20px 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.1s ease-in-out;

}

.link-btn:hover{
    box-shadow: -2px 2px 2px 0px #000000;
}
