.stats-widget-container{
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.profil-stat-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.stat-item-title{
    font-size: 18px;
}

.stat-item-number{
    font-size: 20px;
    background-color: var(--main-yellow);
    padding: 18px;
    border-radius: 5px; 
}

.user-personnal-profile-wrap{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.user-personnal-profile-wrap::after{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 200px;
    height: 5px;
    background-color: var(--main-yellow);
    border-radius: 5px;
    z-index: 3;
}

.user-profile-description{
    text-align: justify;
    overflow: scroll;
    max-height: 80px;
}

.user-profile-localisation{
    font-size: 1.1rem;
}